@import "tailwindcss";
#searchInput {
    transition: width 0.3s ease-in-out;
}
.product-card:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.product-card img {
    transition: transform 0.3s ease-in-out;
}
.heart-icon {
    font-size: 1.2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.heart-icon:hover {
    color: #ff4444;
}
.custom-container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
@media (min-width: 640px) {
    .custom-container {
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width: 1024px) {
    .custom-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}
.search-icon {
    cursor: pointer;
    z-index: 10;
}
.search-input {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    padding: 0;
    border: none;
    background: white;
    border-radius: 9999px;
    outline: none;
    transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.search-input.active {
    width: 150px;
    padding: 6px 12px;
}
/* ghi đè css mặc đinh của thư viện */
.swiper-pagination-bullet {
    opacity: 1 !important;
    filter: brightness(1) !important;
}
.notyf__toast {
    top: 15% !important;
    transform: translateY(-50%) !important;
}
